.overall-patients-container{
height: 80vh;


}
.patients-header-container{
border-bottom: 1px solid black;
padding-block: 1rem;

}
.register-client-container {
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.6);
    border-radius: 8px; /* Slightly smoother corners */
}

  form label{
    font-size: 1.5rem;
  }
 .input{
display: none;
 }