.top-search-section{
padding-block: 1.5rem;
width: 100%;
height: max-content;
}
.top-search-section form input{
padding-block: 1.5rem;
margin-bottom: 1.5rem;
font-size: 1.5rem;
}

.bottom-side-display-search-content{

}